/* ------------index maxi--------------- */
.navbarStyle{
    position: fixed;
    background-color: rgba(255, 255, 255, 0.454);
    top: 0;
    transition:all 0.5s;
}
.navbarStyle.active{
    background-color: white;
    padding: 5px;
}
.divcontenido{
    height: 100000px;
    background-color: aqua;
}
.boxtexto{
    width: 400px;
    height: auto;
}

.carousel-inner{
    position: relative;
}

.sobreBanner{
    position: absolute;
    bottom: 5px;
}

.scroll{
    height: 1000px;
}


/* // `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 576px) { 
    .CarrouselStyle{
        height: 200px;
    }
    .logoHorizontalWidth{
        width: 294px;
    }
}

/* // `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 768px) { 
    .TextoSobreImagen{
        display: none;
    }
    .botonSobreImagen{
        position: absolute; 
        bottom: 25px;
    }
    
    
}
@media (min-width: 992px){
    .logoHorizontal{
        display: none;
    }
}
/* // `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 992px) { 
    .logoCompleto{
        display: none;
        
    }
    .sobreBanner{
        position: absolute;
        bottom: 30px;
    }
}

/* // `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1200px) {
    
}

/* // `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1400px) {
 }

/* ------------Formulario--------------- */
.form-group .errorTexto{
    color: red;
    display:none ;
}
body{
    margin: 0;
}
main {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
.titulo-bienvenida{
    margin: auto;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    width: 100%;
}
.titulo-bienvenida h1{
    font-size: xx-large;
    font-family: "frontage w00 regular";
    color: rgb(112, 68, 68);
    letter-spacing: 20px;
    margin: 20px 5px
}

.selectores{
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
   margin: 20px 5px;
    width: 100%;
  
}
.selectores .checkinOut{
    
    justify-content: center;
    align-items: center;
}

.selectores .cuantasPersonas{
    
    justify-content: space-around;
}
.cuantasPersonas .form-select{
    margin-left: 5px;
}

#start{
    border: none;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
}
.dateSelect{
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    padding-left: 10px;
    margin: 10px 15px;
}

.personasBoton .persBoton .form-select{
    display: flex;
    justify-content: space-around;
    

}
.stiloBoton{
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    width: 320px;
    background-color: #74c2b999;
    color: #fff;
    margin-left: 5px;
    letter-spacing: 5px;
    
}
.stiloBoton:hover{
    background-color: #a9d3ce99;
    color: grey;
}
.cardContainer{
    width: 100%;
    justify-content: space-between;
}
.cardContainer .card{
    position: relative;
    width: 800px;
    height: 300px;
    margin: 5px;
    border: none;
    
}

.cardContainer .card .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}

.cardContainer .card .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px rgb(105, 107, 112);
}

.cardContainer .card .front img{
    position: absolute;
 width: 100%;
 height: 100%;
 object-fit: cover;

}

.cardContainer .card .front h2{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background-color: #74c2b999
    ;
font-size: 20px;
    text-align: center;
}

.cardContainer .card .back{
    transform: perspective(600px) rotateY(180deg);
background: #74c2b999
;
padding: 15px;
color: #fff;
display: flex;
flex-direction: column;
justify-content: space-between;
text-align: center;
box-shadow: 0 5px 10px rgb(105, 107, 112);
}

.cardContainer .card .back .link a {
    color: #fff;
    text-decoration: none;
}

.cardContainer .card .back h2 {
    font-size: 40px;
    margin-top: 3px;
    letter-spacing: 2px;
}

.cardContainer .card .back p{
    letter-spacing: 1px;
}

.cardContainer .card:hover .front{
    transform: perspective(600px) rotateY(180deg);
}

.cardContainer .card:hover .back{
    transform: perspective(600px) rotateY(360deg);
}
.categorias-container{
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 5px 5px;

}
.categoria-style img{
    width: 100%;
    height: 100%;
    transition: 2s;
    
}
.categoria-style img:hover{
    transform: scale(1.2);
    
}
.categoria{
    justify-content: center;
    
    width: 100%;
    margin: 0px;
    overflow: hidden;
}
.categoria-style{
    width: 80%;
    overflow: hidden;
    margin: 0;
}
.categoria-textos{
    background-color: #d8d8d488
    ;
    width: 40%;
    margin: 0;
}
.categoria-textos h3,.categoria-textos p{
    text-align: center;
    font-size: larger;
    margin-top: 40px;
} 
.categoria-textos h3{
  font-size: xx-large;
  letter-spacing: 10px;
  color: #508e90c5;
}

.cateGorias{
    width: 100%;
    
    margin: 5px 0;

}

@media (max-width:800px){
    .titulo-bienvenida h1{
        font-size: medium;
        letter-spacing: 10px;
        
    }
    .selectores{
        padding: 5px;
        justify-content: center;
    }
    .cuantasPersonas{
        margin: 5px;
        justify-content: center;
        width: 90%;
    }
    .checkinOut{
        justify-content: center;
        width: 80%;
    }
    .dateSelect{
        width: 50%;
        margin: 10px;
        
    }
   
    .checkinOut #start{
        
        
        width: 100%;
       
    }
    .cardContainer{
        justify-content: center;
        width: 100%;
        height: 100%;
        flex-wrap: wrap;
    
    }
    .container-fluid{
        margin: 0;
        padding: 0;
    }
    .categoria{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0;
        
    }
    .categoria-textos{
        background-color: #d8d8d488
        ;
        width: 100%;
        height: 100%;font-size: small;
        margin: 0%;
    }
    .categoria-textos h3{
        font-size: 20px;
        margin: 20px 0;
    }
    .categoria-style{
        width: 100%;
        height: 60%;
        transition: 2s;
        margin: 0;
        
    }
    .cateGorias{
        padding: 0;
    }
    .categorias-container{
        margin: 5px 0;
        padding: 0;
        width: 100%;
    }
}
@media (min-width:800px) {
    .habdos{
        flex-direction: row-reverse;
    }
    
}
