body{
    background-image: url(../img/37447247-compartimiento-en-la-arena-cerca-del-océano.png);
   
   
  background-repeat: no-repeat;
 
  background-size: 100% 100%;
  background-attachment: fixed;

  
 
    
  
   
};
.divCont{
    margin-top: 500px;

}

h1{
   color: beige;
   text-align: center;
   font-size: 80px
   ;
   
}

a{
    align-items: center;
    display: block;
}
.stiloBoton{
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
   width: 100px;
   margin: auto;
    background-color: #74c2b999;
    color: #fff;
    text-decoration: none;
    
    letter-spacing: 5px;
 
    text-align: center;
    padding: 10px;
    
}
.stiloBoton:hover{
    background-color: #a9d3ce99;
    color: grey;
}